<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Tailor.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>TailorTesting.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>5218B9211AB648B00036ED34</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5218B92B1AB648B00036ED34</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5218B96E1AB64EAF0036ED34</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5218B9781AB64EAF0036ED34</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>52BD139C19E9D7E4006D72B0</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>52BD13A719E9D7E4006D72B0</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
